/* .list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
}
