.dialog_container {
  position: absolute;
  left: 2%;
  right: 2%;
  bottom: 2%;
}

.dialog {
  display: none;

  padding: 20px;
  background: rgb(230, 248, 169, 0.7);
  border-radius: 10px;
}

.dialog.is_open {
  display: block;
}

.dialog_text {
  font-size: 20px;
  text-align: justify;
}

.dialog span {
  opacity: 0;
}

.dialog span.revealed {
  opacity: 1;
}

.dialog_buttons_wrap {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.dialog_button {
  width: 200px;
  height: 50px;

  margin-right: 10px;
  margin-bottom: 10px;

  font-size: 20px;
  background: rgba(214, 247, 106);
  border-radius: 5px;
}

.dialog_button:not(:last-child) {
  /* margin-right: 10px; */

}

.dialog_button:hover,
.dialog_button:focus {
  background: rgb(246, 192, 14);
}

.dialog_button:disabled {
  color: #696868;
  background: rgba(214, 247, 106);
}

/* modal */
/* .dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  pointer-events: initial;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.dialog.is_hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  opacity: 0;
  pointer-events: none;
}

.dialog_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
}

.dialog_content_wrap {
  max-width: 70%;

  background-color: azure;
} */
