.message {
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px; */
}
.message_text {
  margin: 0;
  font-size: 20px;
}
.message span {
  opacity: 0;
}
.message span.revealed {
  opacity: 1;
}

.message_button {
}
